.firstHalf {
    height: 100%;
    width: 50%;
    position: fixed;
    left: 0;
    background-color: rgb(56, 85, 247);
    top: 10;
    padding-top: 20px;
    text-align-last: center;
    padding-top: 170PX;
    border-right: 2px solid black;
}

.point {
    list-style-type: none;
    
}

/*.dec{
    display: flex;
    justify-content: space-evenly;
    
}*/
.put {
    border: none;
    border-bottom: 2px solid red;
    background-color: rgb(56, 85, 247);
    text-align: center;
}

.put::placeholder {
    color: seashell;
    text-align: center;
}

.put:focus {
    background-color: silver;
}